.page-enter {
  opacity: 0.1;
  transform: translate(0, -5%);
}
.page-enter-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 700ms cubic-bezier(0, 0, 0.2, 1);
}
.page-exit {
  display: none;
}
.months-enter {
  opacity: 0;
  visibility: hidden;
}
.months-enter-active {
  opacity: 1;
  visibility: visible;
  transition: all 500ms linear;
}
.months-exit, .months-exit-active {
  display: none;
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    visibility: visible;
    opacity: 0.4;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}