.card-transition-enter {
  transform: translateY(50%);
  opacity: 0;
}
.card-transition-enter-active {
  transform: translateY(0%);
  opacity: 1;
  transition: transform 500ms linear, opacity 500ms linear;
}
.card-transition-leave {
  transform: translateY(0%);
  opacity: 1;
}
.card-transition-leave.card-transition-leave-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 500ms linear, opacity 500ms linear;
}

.hymn-layout-card > div {
  height: calc(95vh - 16px);
}