.hymn-layout-row {
    & > div {
        height: calc(95vh - 16px);
    }
    .indicator--wrapper {
        height: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}