.hymn-todo-layout {
  padding: 7vw;
  margin: 20% 0;
  max-height: 60%;
  overflow-y: auto;

  .hymn-todo-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 50px;
    border-radius: 40px;
    background: #FFFFFF;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px #00000020;

    img {
      width: 7vw;
    }

    .todo-date {
      min-width: 50px;
      padding: 10px;
      font-weight: bolder;
      font-size: 20px;
    }

    .todo-content {
      flex: 1;
      font-size: 20px;
      overflow-x: auto;
    }
  }
}