.form--content {
  box-shadow: 0 5px 5px #00000010;
  .form--content__category {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh 0;

    .form--content__category--tab {
      width: 75px;
      height: 8vh;
      font-size: 1.3em;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 0.5;

      &.active {
        font-weight: bolder;
        color: #D80351;
        transition: all 300ms linear;
      }
    }
  }
}
.form--content__details {
  .form--content__details--wrapper.active{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    padding: 10px;
    background-color: #F7F7F7;
    box-shadow: inset 0 4px 3px #00000010;
    .form--content__detail {
      height: 50px;
      border-radius: 10px;
      background-color: #FFCE00;
      color: white;
      font-weight: bolder;
      margin: 5px;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      box-shadow: 0 3px 4px #00000010;

      &.active {
        background-color: #EDAB06;
        transition: all 500ms linear;
      }
    }
  }
}
