.hymn-scheduler {
  .hymn-scheduler-week {
    .week--scroller {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      overflow-x: auto;
    }

    .week--scroller > div {
      min-width: 100px;
    }
  }
}
