.scheduler-day {
  display: flex;
  flex-direction: column;

  .day-schedule-notifiers {
    height: 1em;
  }

  .day-schedule-notifiers-range {
    height: 20px;
    display: flex;
    flex-direction: column;
    align-self: self-start;
  }
}