
.monthly-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .monthly-calendar--navigation {
        display: flex;
        flex-direction: row;
        width: 100%;
        .monthly-calendar--navigation__prev {
            margin-right: auto;
        }
        .monthly-calendar--navigation__next {
            margin-left: auto;
        }
    }
    .monthly-calendar--content {
        width: 100%;
        .monthly-calendar--month {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5vh 0;
            .monthly-calendar--month__year {
                font-size: 2em;
            }
            .monthly-calendar--month__month-num {
                font-size: 4em;
            }
            .monthly-calendar--month__month-str {
                font-size: 2em;
            }
        }
        .monthly-calendar--dates {
            display: grid;
            grid-template: repeat(7, auto) / repeat(7, auto);
            width: 100%;
        }
    }
}

