@import './MonthsDialog.scss';
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


.monthly-calendar {
  font-family: 'Nanum Square', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .year-dialog,
  .months-dialog {
    width: 100%;
    height: calc(100% - 10px);
    background: white;
    position: absolute;
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px;
      margin: 5vw;
      box-shadow: 0 0 2px black;
    }
    .current-year, .current-month {
      background: lightskyblue;
    }
  }
  .monthly-calendar--navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    .monthly-calendar--navigation__prev {
      margin-right: auto;
    }
    .monthly-calendar--navigation__next {
      margin-left: auto;
    }
  }
  .monthly-calendar--content {
    width: 100%;
    .monthly-calendar--month {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5vh 0;
      .monthly-calendar--month__year {
        font-size: 2em;
      }
      .monthly-calendar--month__month-num {
        font-size: 4em;
      }
      .monthly-calendar--month__month-str {
        font-size: 2em;
      }
    }
    .monthly-calendar--dates {
      display: inline-grid;
      grid-template: repeat(7, 3.1em) / repeat(7, 3.1em);
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .monthly-calendar--dates__days {
        font-weight: bold;
      }
      .selected {
        background: yellow;
      }
    }
  }
}

// animation
.calendar-content-enter {
  opacity: 0.4;
  transform: translateX(-100%);
}
.calendar-content-enter-active {
  opacity: 1;
  transition: opacity 300ms;
  transform: translateX(0%);
}
.calendar-content-exit {
  opacity: 1;
}
.calendar-content-exit-active {
  opacity: 0.4;
  transition: opacity 200ms;
}
