.hymn-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > div {
    flex: 1;
    text-align: center;

    &.header--left {
      text-align: left;
    }

    &.header--title {
      font-weight: bolder;
      font-size: 2em;
    }
  }

  img {
    width: 5vw;
    height: 6vh;
  }
}